@font-face {
  font-family: "linetoBrown";
  src: url("lineto-brown-regular.ttf");
}
body{
  background-color: #13131a;
  color: #faf4f4;
  font-family: "linetoBrown";
  margin: 100px;
}

main {
  display: flex;
  justify-content: space-around;
  height: 500vh;
}

.boxOne {
  position: absolute;
  left: 50%;
  top: 30vh;
}

.squareOne {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px solid #faf4f4;
  border-radius: 15px;
}

.squareOneTop {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px solid #faf4f4;
  border-radius: 15px;
  background-image: linear-gradient(90deg, rgba(202,133,209,1) 0%, rgba(241,126,236,1) 29%, rgba(106,162,179,1) 100%);
  translate: 0px 0px;
  transition: translate 700ms ease-out;
}


.squareOneTop:hover {
  translate: -15px -15px;
}

.squareTwoAnimate {
  position: absolute;
  left: 30%;
  top: 100vh;
  width: 200px;
  height: 200px;
  border: 5px solid #faf4f4;
  border-radius: 15px;
  animation: rotate 0.1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
}

@keyframes rotate {
  to {
    transform: translate(100%,0) rotate(360deg);
  }
}


/*

circle drawn in css

.circle {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #66BDE8;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.boxOne:hover .circle {
  opacity: 0.2;
}
*/